body{
    background: #ddd;
}

.banner{
    overflow: hidden;
}
.cover-image img{
     height: 400px;
     width: 100%; 
}

.profile-image img{   
    position: relative; 
    display: block;
    z-index: 1;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: -100px;
}
.profile-image{
    padding-left: 10px;
}
.about{
    padding-top: 50px;
    padding-bottom: 70px;
}
.short-image img {
    position: relative; 
    display: block;
    z-index: 1;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: -200px;
}
.short-image{
    padding-left: 10px;
}
@media only screen and (max-width:1050px) {
    .short-image img {
    width: 100px;
    height: 100px;}
}
@media only screen and (max-width:940px) {
    .short-image img {
    display: none;}
}